<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sorce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,70}</string>
                <key>spriteSourceSize</key>
                <string>{150,70}</string>
                <key>textureRect</key>
                <string>{{401,73},{150,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit1_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{733,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit1_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{545,177},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit2_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{617,177},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit2_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{689,177},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit3_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{761,177},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit3_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{769,73},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit4_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{805,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit4_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{833,145},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit5_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{841,73},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit5_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{877,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit6_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{905,145},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit6_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{913,73},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit7_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{949,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit7_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{977,145},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit8_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{985,73},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit8_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1021,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,70}</string>
                <key>spriteSourceSize</key>
                <string>{330,70}</string>
                <key>textureRect</key>
                <string>{{401,1},{330,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highScore_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{473,125},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,50}</string>
                <key>spriteSourceSize</key>
                <string>{187,50}</string>
                <key>textureRect</key>
                <string>{{473,73},{187,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{707,125},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,230}</string>
                <key>spriteSourceSize</key>
                <string>{198,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,230}</string>
                <key>spriteSourceSize</key>
                <string>{198,230}</string>
                <key>textureRect</key>
                <string>{{201,1},{198,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{545,125},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{662,73},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fruit.pvr.ccz</string>
            <key>size</key>
            <string>{1092,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fd843bc44108e8f1e1886ff8dbdc156:a3950de26eaa5367501d9532e271be79:3add51b0cf4b5e77586b0923ba79dcdf$</string>
            <key>textureFileName</key>
            <string>fruit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
